

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: sans-serif;

    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;

   
    background-color: #dfc9e0;
    background: conic-gradient(
        from var(--b, 30deg) at var(--xy, 50% 50%),
        var(--c0, #ffcccc) var(--a, 0deg),
        var(--c1, #ffe0e0) 0% 50%,
        var(--c2, #ccefff) 0% calc(180deg + var(--a, 0deg)),
        var(--c3, #99ddff) 0%
    );
}


header,
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: #fce4ec;
    border: 1px solid #ccc;
    padding: 10px;
}



.page_content {
    display: flex;
    flex: 1;
    gap: 10px;
}



main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}







section {
    background-color: rgb(241, 231, 242);
    border: 1px solid #ccc;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}



nav ul {
    list-style: none;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.main-menu {
    margin: 10px;
    background-color: rgb(241, 231, 242);
    padding: 10px;
}

.main-menu > li {
    display: inline-block;
    padding: 9px 10px;
    background-color: #dfc9e0;
    margin: 5px;
    min-width: 100px;
    text-align: center;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.main-menu > li:hover {
    background-color: #b693b3;
    transform: translateY(-3px);
}



a {
    text-decoration: none;
    color: rgb(55, 19, 89);
    font-size: 1.1rem;
}



h2 {
    text-align: center;
}



.base-info {
    position: absolute;
    left: 5px;
    top: 5px;
}

.name {
    position: absolute;
    right: 10px;
    top: -10px;
    font-style: italic;
    color: #695967;
}

.help_info {
    font-size: 0.8rem;
    color: rgb(117, 101, 120);
    font-style: italic;
}



.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

legend {
    text-align: left;
}



@media (max-width: 750px) {
    .page-content {
        flex-direction: column;
    }

    aside {
        width: 100%;
    }

    .main-menu > li {
        display: block;
        width: 100%;
    }
}

@media (max-width: 450px) {
    body {
        padding: 5px;
    }

    section {
        padding: 8px;
    }
}
