body { 
            /* transition: all 500ms; */
            
            min-height: 70vh;
            border: 1px solid;
            background-color: rgb(240, 231, 219);
            padding: 10px;
            width: 80vw;

            display: flex;
            flex-wrap:wrap; /* перенос по строкам*/
            flex-direction: row; /* направление по умолч row*/                
            /* flex-wrap: wrap; */
            
            /*justify-content: space-around; /* по горизоньали*/      
            /*align-items:stretch;  /* по вертикали */
            /* align-content: stretch; */
                     
        }
header, footer{
            /* width: 100%; */
            /*align-self: flex-start; /* один по вертикали*/
            /* flex-grow: 10; /* ширина элемента в пропорциях */
            /*flex-basis: 50%; /* ширина элемента в ед*/
            /*flex-shrink: 2; /* на сколько пропорций урезать если не вмещается*/
            /*flex: 0 0 300px; /* grow shrink basic*/
            flex-basis: 100%;
            height: 70px;
        }
#main{
            flex-basis: 70%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            min-height: 500px;
            align-items: stretch;
            
        }    