@import url("image_page.css");
@import url("weather_style.css");


body {
    background: url('https://abrakadabra.fun/uploads/posts/2022-04/1648833472_1-abrakadabra-fun-p-bezhevii-abstraktnii-fon-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}

article {
    flex: 2 2 12em;
    padding: 1em;
}

nav,
aside {
    flex: 1;
    
}


header,
footer {
    flex: 0 0 5em;
}

@media screen and (min-width: 770px) {
    body {
            min-height: 100vh;
        }
    main {
        flex-direction: row;
        min-height: 100%;
        flex: 1 1 auto;
        }

    article {
        flex: 1;
    }
    aside {
        width: 260px;
        flex-shrink: 0;
        position: sticky;
        top: 20px;
        align-self: flex-start;
    }
}

.container {
    width: 100%;
    max-width: 900px;
    padding: 20px;
    box-sizing: border-box;
}

.container_add {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

h1{
    margin-top: 0;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 1px;
}

h2{
    
    font-weight: 200;
    font-size: 1.8rem;
    letter-spacing: 1px;
}

h3{
    margin-top: 20px;
    font-weight: 200;
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: rgba(83, 67, 31, 0.795);
}


p{
    color: rgba(83, 67, 31, 0.795);
    text-decoration: none;
    font-size: 1.4rem;
    opacity: 0.7 
}

.glass-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgba(233, 225, 154, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    
    padding: 40px;
    border-radius: 25px;
    border: 1px solid rgba(233, 225, 154, 0.3);
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
    color: rgba(83, 67, 31, 0.795);
    text-align: center;
}

.glass-button a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 10px auto;
    padding: 10px 25px;
    width: 150px;
    
    background: rgba(233, 225, 154, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 25px;
    border: 1px solid rgba(233, 225, 154, 0.2);
    
    color: rgba(64, 51, 72, 0.795);
    text-align: center;
}

.glass-button a:hover{
    background: rgba(233, 225, 154, 0.3);
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
    color: rgba(64,51,72,1);
    transform: translateY(-2px);
}

.footer-link a {
    color: rgba(83, 67, 31, 0.867);
    text-decoration: none;
    font-size: 1.4rem;
    opacity: 0.7;
    transition: 0.3s;
}

.footer-link a:hover {
    opacity: 1;
    text-decoration: underline;
}

form {
    display: flex;
    width: 225px;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}

button, input{
    border-radius: 25px;
    border: 1px solid rgba(233, 225, 154, 0.2);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    color: rgba(64, 51, 72, 0.795);
    text-align: center;
}
