body {
    background: url('https://img.pikbest.com/photo/20240921/lake-and-a-forest-in-morning-mist-autumn-scenery-with-red-leaves_10836445.jpg!w700wp');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1{
    margin-top: 0;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 1px;
}

.image_container {
    max-width: 640px;        
    padding: 30px auto 0;          
    margin: 0 auto; 

}         

.image_container img{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    display: block;
    
}

.container {
    width: 100%;
    max-width: 900px;
    padding: 20px;
    box-sizing: border-box;
}

.glass-block {
    background: rgba(233, 225, 154, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    
    padding: 40px;
    border-radius: 25px;
    border: 1px solid rgba(233, 225, 154, 0.3);
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
    color: rgba(83, 67, 31, 0.795);
    text-align: center;
}

.glass-button{
    display: block;
    margin: 10px auto;

    padding: 10px 25px;
    width: 200px;
    
    background: rgba(233, 225, 154, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 25px;
    border: 1px solid rgba(233, 225, 154, 0.2);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    color: rgba(64, 51, 72, 0.795);
    text-align: center;
}

.footer-link a {
    color: rgba(83, 67, 31, 0.867);
    text-decoration: none;
    font-size: 1.4rem;
    opacity: 0.7;
    transition: 0.3s;
}

.footer-link a:hover {
    opacity: 1;
    text-decoration: underline;
}