{% extends 'base.html' %}

{% block title %}Курсы{% endblock %}

{% block content1_head %}
    <h1>Курсы</h1>
{% endblock %}

{% block content1 %}
    <ul>
    {% for course in courses %}
        <li>
            <a href="{% url 'course_detail' course.id %}">
                {{ course.get_name_display }} - {{ course.course_num }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}

{% block add_inf %}
    <h3>Здесь в будущем будет список журналов</h3>
    <a href="{% url 'grades_journal'%}">Журнал</a>

{% endblock %}