{% extends 'base.html' %}
{% load journal_tags %}

{% block title %}Журнал{% endblock %}

{% block content1_head %}
<h1>Журнал курса {{ course.get_name_display }} - {{ course.course_num }}</h1>
{% endblock %}

{% block content1 %}

<div class="container_tab">
<table class="journal-table grades-table">
    <thead>
        <tr>
            <th>Студент</th>
            {% for date in dates %}
                <th>{{ date|date:"d.m.Y" }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for student in students %}
        <tr>
            <td>
                <a href="{% url 'student_detail' student.id %}">
                    {{ student.surname }} {{ student.name }}
                </a>
            </td>

            {% for date in dates %}
            <td>
                {% with student_grades=journal|get_item:student.id %}
                    {% if student_grades %}
                        {% with grade=student_grades|get_item:date %}
                            {{ grade|default:"" }}
                        {% endwith %}
                    {% endif %}
                {% endwith %}
            </td>
            {% endfor %}

        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}

{% block content2_head %}
    <h2>Домашнее задание для курса {{ course.get_name_display }} - {{ course.course_num }}</h2>               
{% endblock %}
            
        
{% block content2 %}

<div class="container_tab">
<table class="journal-table homework-table">
    <thead>
        <tr>
            {% for date in dates %}
                <th>{{ date|date:"d.m.Y" }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for date in dates %}
                <td>
                    {% with homework=homework_by_date|get_item:date %}
                        {% if homework %}
                            {{ homework|truncatechars:50 }}
                        {% else %}
                            —
                        {% endif %}
                    {% endwith %}
                </td>
            {% endfor %}
        </tr>
    </tbody>
</table>
</div>            
{% endblock %}