{% extends 'base.html' %}

{% block title %}{{ student.surname }} {{ student.name }}{% endblock %}

{% block content1_head %}
    <h1>{{ student.surname }} {{ student.name }}</h1>
{% endblock %}

{% block content1 %}
    
    {% load static %}
    <div class="student-photo">
        <img src="{{ student.get_photo_url }}" alt="Фото {{ student.name }}" width="200">
    </div>
   

    <table class="student-info-table">
        <tr>
            <th>Пол:</th>
            <td>{{ student.get_sex_display }}</td>
        </tr>
        <tr>
            <th>Возраст:</th>
            <td>{{ student.age }}</td>
        </tr>
        <tr>
            <th>Активный:</th>
            <td>{% if student.active %}Да{% else %}Нет{% endif %}</td>
        </tr>
        {% if student.profile %}
        <tr>
            <th>Телефон:</th>
            <td>{{ student.profile.phone }}</td>
        </tr>
        {% endif %}
    </table>

    <h2>Курсы</h2>
    {% if student.course.all %}
        <table class="journal-table">
            <thead>
                <tr>
                    <th>Курс</th>
                    <th>Номер курса</th>
                </tr>
            </thead>
            <tbody>
            {% for course in student.course.all %}
                <tr>
                    <td><a href="{% url 'course_detail' course.id %}">{{ course.get_name_display }}</a></td>
                    <td>{{ course.course_num }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Студент пока не записан на курсы</p>
    {% endif %}
    
{% endblock %}

{% block content2 %}
    <h2>Оценки</h2>
    <div class="container_tab">
        <table class="journal-table">
            <thead>
                <tr>
                    <th>Курс</th>
                    <th>Оценка (дата)</th>
                </tr>
            </thead>
            <tbody>
                {% for grade in student.grades.all %}
                <tr>
                    <td>{{ grade.course.get_name_display }}</td>
                    <td>{{ grade.grade }} ({{ grade.date|date:"d.m.Y" }})</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">Нет оценок</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}