{% extends 'base.html' %}
{% load journal_tags %}

{% block title %} Студенты {% endblock %}

{% block content1_head %}
    <h1>Студенты</h1>
{% endblock %}

{% block content1 %}
<div class="container_tab">
<table class="journal-table grades-table">
    
    {% for s in page_obj %}
    <tr>
        <td>
        <a href="{% url 'student_detail' s.id %}"> {{s.surname}} {{s.name}}</a>
        </td>
    </tr>
    {% endfor %}
    
</table>
</div>
{% endblock %}

{% block content2 %}
<table>
    <tr>
        <td>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }} ">Назад</a>
        {% endif %}
        </td>

        <td style="position: sticky; left: calc(33.3% - 50px);">
        <span class="current">
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <strong>{{ num }}</strong> {% else %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
        </span>
        </td>

        <td>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">вперед</a>
        {% endif %}
        </td>
    </tr>
</table>            
{% endblock %}