{% extends 'base.html' %}

{% block title %}{{ student.surname }} {{ student.name }}{% endblock %}

{% block content1_head %}
    <h1>{{ student.surname }} {{ student.name }}</h1>
{% endblock %}

{% block content1 %}
    <p>Пол: {{ student.get_sex_display }}</p>
    <p>Возраст: {{ student.age }}</p>
    <p>Активный: {{ student.active }}</p>

    {% if student.profile %}
        <p>Телефон: {{ student.profile.phone }}</p>
    {% endif %}

    <h2>Курсы</h2>
    {% if student.course.all %}
    <ul>
    {% for course in student.course.all %}
        <li>
            <a href="{% url 'course_detail' course.id %}">
                {{ course.get_name_display }} - {{ course.course_num }}
            </a>
        </li>
    {% endfor %}
    </ul>
    {% else %}
        <p>Студент пока не записан на курсы</p>
    {% endif %}

    
{% endblock %}

{% block content2 %}
    <h2>Оценки</h2>
    <div class="container_tab">
        <table class="journal-table">
            <thead>
                <tr>
                    <th>Курс</th>
                    <th>Оценка (дата)</th>
                </tr>
            </thead>
            <tbody>
                {% for grade in student.grades.all %}
                <tr>
                    <td>{{ grade.course.get_name_display }}</td>
                    <td>{{ grade.grade }} ({{ grade.date|date:"d.m.Y" }})</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">Нет оценок</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}