<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/instagram.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candle_nazare</title>
</head>
<body>
    <div class="container">
        <main class="glass-block">
            <h1>Instagtam profile</h1>
            
            <blockquote class="instagram-media"
            data-instgrm-permalink="https://www.instagram.com/nazare.by/"
            data-instgrm-version="14"
            style="position: center center;">
            </blockquote>

            <script async src="https://www.instagram.com/embed.js"></script>

            <div class="glass-button">
                <div class="footer-link">
                <a href="/">Home</a>
                </div>
            </div>

        </main>
    </div>
</body>
</html>