<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>HOME PAGE</h1>
    <h2>Links menu</h2>
    <p><a href="/duck/">Duck</a></p>
    <p><a href="/fox/{{rnd}}/">Fox</a></p>
    <p><a href="/weather-minsk/">Weather-Minsk</p>
    <p></p>
    <p>Weather-city</p>
    <form action="/weather/" method="get", onsubmit="location.href = '/weather/' + city.value; return false;">
       <input type="text" name="city", id="city" placeholder="Enter city" required>
       <button type="submit">Show weather</button>
    </form>
    <p><a href="">intersting</a></p>

</body>
</html>