{% extends 'base.html' %}

{% block header_message %}
   
{% endblock %}

{% block content %}

        <section>
            <h2>Joy of T<sub>E</sub>X</h2>
        </section>

        <hr>

        <section >
            <blockquote>
                <pre>
                  <big>Евгений Евтушенко</big>
                
                        -1955-
                
                Бывало, спит у ног собака,
                костер занявшийся гудит,
                и женщина из полумрака
                глазами зыбкими глядит.
                
                потом под пихтою приляжет
                на куртку рыжию мою
                и мне,
                  задумчиво,
                          скажет:
                "А ну-ка, спой!.."-
                          и я спою.
                </pre>
            </blockquote>
        </section>

        <hr>

        <section>
            <table style="border: 1px solid #000;">
                <caption>Добыча драгоценных камней</caption>
            

                <thead>
                    <tr style="border: 1px solid #000;">
                        <th style="border: 1px solid #000;"></th>
                        <th style="border: 1px solid #000;">2010</th>
                        <th style="border: 1px solid #000;">2012</th>
                        <th style="border: 1px solid #000;">2014</th>
                    </tr>
                </thead>
                <tbody style="border: 1px solid #000;">
                    <tr style="border: 1px solid #000;">
                        <th style="border: 1px solid #000;">Сапфиры</th>
                        <td rowspan="2" style="border: 1px solid #000; text-align: center; font-weight: bold;">1483</td>
                        <th style="border: 1px solid #000;">4532</th>
                        <th style="border: 1px solid #000;">6743</th>
                    </tr>
                    <tr style="border: 1px solid #000;">
                        <th style="border: 1px solid #000;">Рубины</th>
                        
                        <th style="border: 1px solid #000;">3835</th>
                        <th style="border: 1px solid #000;">7482</th>
                    </tr>
                    <tr style="border: 1px solid #000;">
                        <th style="border: 1px solid #000;">Алмазы</th>
                        <th style="border: 1px solid #000;">683</th>
                        <td colspan="2" style="border: 1px solid #000; text-align: center; font-weight: bold;">238</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <hr>

        <section>
            <table style="border: 1px solid #7c3030; border-collapse: collapse;">
                     
                <thead>
                    <tr style="border: 1px solid #7c3030; border-collapse: collapse; background-color: #8b2a2a;">
                        <th ></th>
                        <th style="padding-right: 10px; text-align: center;">2004</th>
                        <th style="padding-right: 10px; text-align: center;">2005</th>
                        <th style="padding-right: 10px; text-align: center;">2006</th>
                    </tr>
                </thead>
                <tbody >
                    <tr style="border: 1px solid #7c3030; border-collapse: collapse; background-color: #e6b8b8;">
                        <th style="padding-right: 50px; text-align: left;">Рубины</th>
                        <th style="padding-right: 10px; text-align: center;">43</th>
                        <th style="padding-right: 10px; text-align: center;">51</th>
                        <th style="padding-right: 10px; text-align: center;">79</th>
                    </tr>
                    <tr style="border: 1px solid #7c3030; border-collapse: collapse; background-color: #896262;">
                        <th style="padding-right: 50px; text-align: left;">Изумруды</th>
                        <th style="padding-right: 10px; text-align: center;">28</th>
                        <th style="padding-right: 10px; text-align: center;">34</th>
                        <th style="padding-right: 10px; text-align: center;">48</th>
                    </tr>
                    <tr style="border: 1px solid #7c3030; border-collapse: collapse; background-color: #e6b8b8;">
                        <th style="padding-right: 50px; text-align: left;">Сапфиры</th>
                        <th style="padding-right: 10px; text-align: center;">29</th>
                        <th style="padding-right: 10px; text-align: center;">57</th>
                        <th style="padding-right: 10px; text-align: center;">36</th>
                    </tr>
                    <tr style="border: 1px solid #7c3030; border-collapse: collapse; background-color: #896262;">
                        <th style="padding-right: 50px; text-align: left;">Аметисты</th>
                        <th style="padding-right: 10px; text-align: center;">23</th>
                        <th style="padding-right: 10px; text-align: center;">64</th>
                        <th style="padding-right: 10px; text-align: center;">97</th>
                    </tr>
                    
                </tbody>
            </table>

        </section>

        <hr>

        <section>
            <table style="border: 1px solid #000; border-collapse: collapse;">

                <thead>
                    <tr >
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: #4d4d4d; color: aliceblue;">Название</th>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: #4d4d4d; color: aliceblue;">Цвет</th>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: #4d4d4d; color: aliceblue;">Твердость по Моосу</th>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: #4d4d4d; color: aliceblue;">Формула</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: aqua;">Алмаз</th>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: yellow;">Белый</th>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: aqua;">10</th>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: yellow;">C</th>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: aqua;">Рубин</th>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: yellow;">Красный</th>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: aqua;">9</th>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: yellow;">Al<sub>2</sub>O<sub>3</sub></th>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: aqua;">Аметист</th>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: yellow;">Голубой</th>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: aqua;">7</th>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: yellow;">SiO<sub>2</sub></th>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: aqua;">Изумруд</th>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: yellow;">Зеленый</th>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: aqua;">8</th>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: yellow;">Be<sub>3</sub>Al<sub>2</sub>(SiO<sub>3</sub>)<sub>6</sub></th>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: aqua;">Сапфир</th>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: yellow;">Голубой</th>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: aqua;">9</th>
                        <th style="border: 1px solid #000; border-collapse: collapse; padding: 10px; background-color: yellow;">Al<sub>2</sub>O<sub>3</sub></th>
                    </tr>
                </tbody>
            </table>

        </section>

        <hr>

        <section>
            <h2>Карта сокровищ</h2>
            <hr>
            <abbr title="карта"><img style="width: 400px; height: 350px;" src="{{url_for('static', filename='images/map.avif')}}" alt="onepiece"></abbr> 
            <p>Пройдено: <progress value="59" max="100"></progress></p>
        </section>

        <hr>

        <section>
            <h2>Генераторы</h2>
            <ul>
                <li>Цвета</li>
                <ul>
                    <li>Color Mixers</li>
                    <li>Color Tsester</li>
                    <li>Color Pallet</li>
                </ul>
                <li>Фавиконы</li>
                <ol>
                    <li>Favicon.cc</li>
                    <ul>
                        <li><a href="">Скачать</a></li>
                        <li><a href="">Демо</a></li>
                    </ul>
                    <li>WebLab Favicon</li>
                </ol>
                <li>Фоны</li>
                <ul>
                    <li>BgMaker</li>
                    <li>StriperGenerator</li>
                </ul>
                <li>Изображения</li>
                <ol>
                    <li>Buttonator</li>
                    <li>AjaxLoad</li>
                </ol>
            </ul>

        </section>

        <hr>

        <section>
            
<pre>
<big>Стихотворение</big>

Мириады иаленьких дел
Пьют по капле гаснущий день,
А <ins>дела большие</ins> сушит жажда.
Оставляя все на "потом",
Прозреваем задним числом,
Только день <big>не повторится</big> дважды.

И. Тальков
</pre>
            
        </section>

        <hr>

        <section>
           <h1>Загаловок первого уровня</h1>
           <h2>Загаловок воторого уровня</h2>
           <h3>Загаловок третьего уровня</h3>
           <p>Пример ссылки <a href="/">ведущая на другую страницу</a></p> 
        </section>

        <hr>

        <section>
            <form action="">
                <p><label for="Неделя">Неделя</label>
                <input type="week" id="meeting-time" name="meeting-time" ></p>
                    
                <p><label for="Дата и время">Дата и время</label>
                <input type="datetime-local" id="meeting-time" name="meeting-time"></p>

                <p><label for="Месяц">Месяц</label>
                <input type="month" id="meeting-time" name="meeting-time" ></p>

                <p><label for="Время">Время</label>
                <input type="time" id="meeting-time" name="meeting-time"></p>
            </form>
        </section>

    
{% endblock %}