<script>
    window.addEventListener('hashchange', () => {
        if (window.location.hash === '#modal_one'){
            setTimeout(() => document.querySelector('#user_name').focus(), 500);
        }
    });
</script>


<div class="modal" id="modal1" aria-hidden="true">
   <a href="" class="a_modal"></a>

   <div class="modal_dialog">
        <div class="modal_header">
            <a href="#" class="btn_close" aria-hidden="true">x</a>
            <p>Добавить квиз</p>
        </div>
        <div class="modal_body">
            <form action="/quiz_add/" method="post">
                <label for="quiz_name">Название квиза</label>
                <input type="text" id="quiz_name" name="quiz_name" required>

                <label>Пользователь</label>
                <select name="user_id" required>
                    {% for u in users %}
                        <option value="{{u.id}}">{{u.name}}</option>
                    {% endfor %}
                </select>
                
                <label>Выберите вопрос</label>
                <div class="modal_box">
                    {% for q in questions %}
                    <label >
                        <input type="checkbox" name="question_ids" value="{{q.id}}" required>
                        {{q.question}}
                    </label><br>
                    {% endfor %}
                </div>

                <input type="submit" value="OK">
            </form>

        </div>
   </div>
    
</div>

